.container {
  background: url(../images/food.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-top: 75px;

}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

th {
  text-align: left;
}

#design div {
  display: inline-block;
  margin: auto;
  width: 45%;
}

h1 {
  text-align: center;
}

#button {

}

#register {
  display: none;
}

.popup {
  /*display: fixed;*/
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid black;
  background-color: grey;
}

#exit {
  float: right;
  top: 0;
}

.recipes p {
  color: red;
}


#header {
  height: 75px;
  width: 100%;
  background-color: black;
  border: black 1px solid;
  position: fixed;
  border-top: none;
}

#foodsearch {
  text-align: left;
  padding-top: 23px;
}

.recipe {
  height: 200px;
  border: black 1px solid;
  background: gainsboro;
}

.food_image {
  width: 25%;
  height: 95%;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid black;
  display: inline-block;
}

#pic {
  height: 100%;
  width: 100%;
}

.info {
  display: inline-block;
  width: 65%;
  float: right;
}

a {
  text-decoration: none !important;
}

/*html {
    background-image: url(../images/food.jpg);
    width: max-width;
}*/
.intro {
  color: whitesmoke;
  text-align: center;
  font-size:150%;
  position: fixed !important;
  z-index: 1000;
  margin-left: 18% !important;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.55); /*can be anything, of course*/
    margin-top: 75px;
}

.home {
  width: 100%;
  text-align: center;
  color: white;
}

.homecontainer {
  width: 200px;
  background-color: #FF7518;
  height: 35px;
  margin-left: 20px;
  display: inline-block;
}

.homecontainer h4 {
  margin-top: 0px;
  padding-top: 6px;
}

#api {
  border: 2px solid #ff7011;
  border-radius: 4px;
  background-color: #FF7518;
  color: white;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
}

#ingredients {
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
}

.prompt {
  display: inline-block;
}

.prompt p {
  font-size: 13px;
}

.user_info {
  display: inline-block;
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

.user_info a {
  color: #FF7518;

  padding-top: 5px;
  font-size: 12px;
  margin: 5px;
}
